.pisture{
    background-image: url("./img/ROSHEN.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    width: 204px;
    height: 164px;
    margin-top: 20px;
    margin-left: 20px;
}

.fon{
    background-image: url("./img/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 400px;
    margin-left: 250px;
    padding-bottom: 270px;
}

.pisture_1{
    background-image: url("./img/Roshen_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 223px;
    height: 51px;
}

.red{
    background-color: #8C0A0D;
    width: 778px;
    height: 51px;
    margin-left: 223px;
}

ul{
    font-size: 10px;
    font-weight: 800;
    text-transform:uppercase;
    float: left;
    margin-top: 25px;
}

li{
    display: inline;
    padding-left: 20px;
}

a{
    outline: none;
	text-decoration: blink;
	color: #FBC37A;
}

.eng{
    background-image: url("./img/eng.png");
    width: 50px;
    height: 30px;
    display: inline-block;
    margin-left: 105px;
    margin-top: 15px;
}

.pisture_2{
    background-image: url("./img/Roshen_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    width: 878px;
    height: 248px;
    margin-left: 64px;
    margin-top: 33px;
}

.button{
    width: 154px;
    height: 40px;
    background-color: #F6CC79;
    background-repeat: space;
    border-radius: 9px;
    box-shadow: 4px 4px #BF670D;
    position: absolute;
    top: 180px;
    left: 727px;
}

.text{
    text-transform: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: absolute; 
}   

p{
    font-size: 16px;
    color: black;
    line-height: 16px;
    float: left;
    width: 200px;
    padding-right: 10px;
}
.colona{
    width:180px;
    height: 210px;
    float:left;
    margin-left: 55px;
}
.bold{
    font-weight: 900;
    height: 87px;
}
.normal{
    font-weight: 300;
}

.red_2{
    background-color: #8C0A0D;
    width: 1000px;
    height: 51px;
    margin-top: 320px;
}

.text_2{
    color: rgb(244, 198, 100);
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    float: left;
    margin-left: 43px;
    height: 344px;
    width: 196px;
}

.facebook{
    width:95px;
    height:50px;
    background-image: url('./img/ikonki.png');
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: 906px;
} 